.bounce {
  display: inline-block;
  font-size: 2em;
  animation: bounce 1s infinite;
  color: #2c3e50;
  font-family: sans-serif;
}

/* Animation rebond */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(-20px);
    animation-timing-function: ease-out;
  }
}
